* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-nav {
  padding: 0 !important;
}

body {
  background-color: #e2fefc;
}

.router-link-card {
  text-decoration: none;
}

.d-flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
